<div class="row">
  <div class="col-xs-12">
    <h1>Education</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Subjects (Classes)', { controller: 'subjects' }, class: 'btn btn-primary', role: :button %>
    <%= link_to 'Professors', { controller: 'professors' }, class: 'btn btn-primary', role: :button %>
  </div>
</div>