<div class="row">
  <div class="col-xs-12">
    <h1><%= @professor.name %></h1>
  </div>
  <div class="col-xs-12">
      <%= link_to 'Edit this Professor', edit_professor_path( @professor ), class: 'btn btn-warning', role: :button %>
  </div>
</div>

<%= render 'subjects' %>

<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Back', professors_path, class: 'btn btn-primary', role: :button %>
  </div>
</div>